# Banco
DB_NAME=monitor_parlamentar
DB_USER=postgres
DB_PASSWORD=troque_essa_senha

# API
APP_KEY=
LOG_LEVEL=info
APP_URL=http://localhost:3333
SESSION_DRIVER=cookie

# Frontend
VITE_API_URL=/api

# Crawler
LEGISLATURA=57
ANO=2024
