# Env
.env
*.env.local

# Node
node_modules/
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
data/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# .NET
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
appsettings.Development.json
appsettings.json
